@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/functions";
@import "./base/reset";
@import "./base/typography";
@import "./layout/header";
@import "./layout/card";
@import "./layout/rating";

.attribution {
  font-size: 0.7rem;
  text-align: center;
  a {
    color: blue;
  }
}

body {
  background: $color-white;
}

.pattern {
  &__mobile,
  &__desktop {
    position: absolute;
  }
}

#pattern-top-mobile {
  top: 0;
  left: 0;
  @include mq-desktop-xlarge {
    display: none;
  }
}

#pattern-bottom-mobile {
  bottom: 0;
  left: 0;
  @include mq-desktop-xlarge {
    display: none;
  }
}

#pattern-top-desktop {
  display: none;
  @include mq-desktop-xlarge {
    display: block;
    top: 0;
    left: 0;
  }
}

#pattern-bottom-desktop {
  display: none;
  @include mq-desktop-xlarge {
    display: block;
    bottom: 0;
    right: 0;
    z-index: -999;
  }
}

.body-wrapper {
  position: relative;
  padding: 5rem 1.8rem;
  @include mq-tablet {
    padding: 4.5rem 3rem 3rem;
  }
  @include mq-desktop-xlarge {
    padding: 9rem 10.3rem 6.3rem;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
