.card {
  background: $color-primary-dark;
  border-radius: $border-radius;
  padding: 2.2em 2em;
  &:nth-child(2) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  &__header {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: min-content;
    row-gap: 0.5em;
    margin-bottom: 2em;
    &-img {
      grid-row: 1 / span 2;
      border-radius: 50%;
      max-width: 40px;
      margin-right: 1.6rem;
    }
    &-title {
      grid-row: 1 / 2;
      display: flex;
      align-self: flex-end;
    }
    &-subtitle {
      grid-row: 2 / 3;
    }
  }

  &__desc {
    line-height: 1.7;
  }
}
