body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

.page {
  &__title {
    color: $color-primary-dark;
    font-weight: 700;
    @include font-size($h1-font-size);
  }
  &__headline {
    color: $color-neutral-dark;
    line-height: 1.6;
    @include font-size($headline-font-size);
  }
}

.rating-block__text {
  color: $color-primary-dark;
  font-weight: 700;
  @include font-size($p-font-size);
}

.card {
  &__header-title {
    color: $color-white;
    font-weight: 700;
  }
  &__header-subtitle {
    color: $color-primary-light;
    font-weight: 400;
  }
  &__desc {
    color: $color-white;
    font-weight: 400;
  }
  &__header-title,
  &__header-subtitle,
  &__desc {
    @include font-size($p-font-size);
  }
}
