body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

.page {
  &__title {
    color: $color-primary-dark;
    font-weight: 700;
    font-size: map-get($h1-font-size, 375px);
    @include mq-tablet {
      font-size: map-get($h1-font-size, 680px);
    }
    @include mq-desktop-xlarge {
      font-size: map-get($h1-font-size, 1220px);
      width: 70%;
      text-align: left;
    }
  }
  &__headline {
    color: $color-neutral-dark;
    line-height: 1.6;
    font-size: 0.88rem;
    @include mq-desktop-xlarge {
      width: 80%;
      text-align: left;
    }
  }
}

.rating-block__text {
  color: $color-primary-dark;
  font-weight: 700;
  font-size: 0.77rem;
}

.card {
  &__header-title {
    color: $color-white;
    font-weight: 700;
  }
  &__header-subtitle {
    color: $color-primary-light;
    font-weight: 400;
  }
  &__desc {
    color: $color-white;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  &__header-title,
  &__header-subtitle,
  &__desc {
    font-size: 0.77rem;
  }
}
