/* breakpoints maps */
$breakpoints: (
  small: 480px,
  medium: 680px,
  xlarge: 1220px,
);

/* font sizes maps */
$h1-font-size: (
  375px: 1.88rem,
  680px: 2.5rem,
  1220px: 2.8rem,
);

/* mixin breakpoints */

@mixin mq-tablet {
  @media screen and (min-width: map-get($breakpoints, medium)) {
    @content;
  }
}

@mixin mq-desktop-xlarge {
  @media screen and (min-width: map-get($breakpoints, xlarge)) {
    @content;
  }
}
